.d1{
    border: 1px solid black;
    background-color: beige;
    color: #490404;
}
.h1{
    color: beige;
    background-color: #3e0505;
    text-align: center;
}
.p1{
    margin: 10px 200px;
    font-size: 20px;
}
.d2{
    border: 5px solid rgb(74, 41, 5);    
    height: auto;
    width: 200px;  
    padding: 10px;
    margin: 5px 300px;
    font-size: 20px;
}

.d3{
    width: 600px;
    height: 300px;
    margin: 30px auto;
    padding: 60px 0px;
    background: url('../../../../Images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
}
form { 
    width: 80%;
    padding: 15px;
    margin: 50px auto;
    background: transparent;
    border: 5px solid navy;
    border-radius: 50px;
    text-align: center;
}
form label:hover{
    text-shadow: 2px 3px 3px black;
}
form input {
    height: 30px;
    width: 30%;
}
input:focus{
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid lightgray;
}
::placeholder
{
    color: navy;
}