.d1{
    border: 1px solid black;
    background-color: beige;
    color: #490404;
}
.h1{
    color: beige;
    background-color: #3e0505;
    text-align: center;
}
p{
    margin: 10px 200px;
    font-size: 20px;
}
.d2{
    border: 5px solid rgb(74, 41, 5);    
    height: auto;
    width: 200px;  
    padding: 10px;
    margin: 5px 300px;
    font-size: 20px;
}
h2{
    text-align: center;
}
.div{
    border: 5px solid #3e0505;
    width: 400px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    font-size: 50px;
    margin: 10px auto;
}
.div-3{
    
    background-color: rgb(200, 200, 13);
}

.div-3:hover{
    background-color: #ba7777;
    width: 450px;
    height: 200px;
}

.div-4:hover{
    border: 10px solid blue;
}

.div-5:hover{
    font-size: 60px;
}