.d1{
    border: 3px solid ;
    margin: 20px;
    background-color: rgb(227, 209, 209);
    padding-bottom: 20px;
}
#p1{
    font-size: 20px;
    padding-left: 150px;
    padding-right: 100px;
    color: rgb(84, 5, 5);
}
h1{
    text-align: center;
    color: rgb(225, 187, 187);
    background-color: rgb(84, 5, 5); 
    font-size: 40px;
}
#d{
    height: 80px;
    width: 450px;
    margin: 20px auto;
    border: 5px solid red;
    text-align: center;
    font-size: 40px;
    padding: 10px;
    outline-color: rgb(125, 24, 24);
    outline-style: solid;
    outline-offset: 5px;
}
#d:hover{
    height: 100px;
    width: 500px;
}
.d2{
    outline-width: medium;
}
.d3{
    outline-width: thick;
}
.d4{
    outline-width: thin;
}
.d5{
    outline-width: 10px;
}