.d1{
    border: 3px solid ;
    margin: 20px;
    background-color: rgb(227, 209, 209);
    padding-bottom: 20px;
}
#p1{
    font-size: 20px;
    padding-left: 150px;
    padding-right: 100px;
    color: rgb(84, 5, 5);
}
h1{
    text-align: center;
    color: rgb(225, 187, 187);
    background-color: rgb(84, 5, 5); 
    font-size: 40px;
}
#d{
    height: 80px;
    width: 450px;
    border-width: 10px;
    margin: 20px auto;
    border: 5px solid red;
    outline-width: 8px;
    text-align: center;
    font-size: 40px;
    padding: 10px;
    outline-color: rgb(125, 24, 24);
}
#d:hover{
    height: 100px;
    width: 500px;
}
.d2{
    outline-style: solid;
}
.d3{
    outline-style: none;
}
.d4{
    outline-style: hidden;
}
.d5{
    outline-style: dotted;
}
.d6{
    outline-style: dashed;
}
.d7{
    outline-style: double;
}
.d8{
    outline-style: groove;
}
.d9{
    outline-style: ridge;
}
.d10{
    outline-style: inset;
}
.d11{
    outline-style: outset;
}