.d1{
    border: 3px solid black;
    margin: 20px;
    background-color: rgb(221, 221, 232);
    padding-bottom: 20px;
}
.h{
    text-align: center;
    color: rgb(184, 184, 211);
    background-color: rgb(16, 16, 68); 
    font-size: 40px;
}
.d2{
    width: 500px;
    height: 200px;
    border: 15px solid ;
    margin: auto;
    text-align: center;
    line-height: 200px;
    font-size: 50px;
    background-color: aliceblue;
}
#linear{
  
    border-image: linear-gradient(red, yellow, green, blue ) 20 round;
    background-color: rgb(241, 253, 168);
}
#radial{
    border-image: linear-gradient(to left , #d4a8c6 , #2c082f ) 20 round;
    background-color: #ebe1e8;
}
h1{
    text-align: center;
}