.d1{
    border: 3px solid black;
    margin: 20px;
    background-color: rgb(251, 239, 239);
    padding-bottom: 20px aut;
}
#p{
    font-size: 20px;
    /* padding-left: 200px;
    padding-right: 200px; */
    padding: 10px 500px;
    color: rgb(57, 4, 4);
}
.h{
    text-align: center;
    color: rgb(251, 239, 239);
    background-color: rgb(57, 4, 4); 
    font-size: 40px;
}
h1{
    text-align: center;
    color: rgb(57, 4, 4);
}
.d2{
    background-image: url('../../Images/colorCircle.png');
    width: 500px;
    height: 500px;
    margin: 10px auto;
    border: 1px solid black;
    background-repeat: no-repeat;
    background-size: cover;
}
.d2:hover{
    border: 15px groove green;
}
.blur1{
    filter: blur(0px);
}
.blur2{
    filter: blur(10px);
}
.blur3{
    filter: blur(50px);
}
.blur4{
    filter: blur(100px);
}