.d1{
    border: 1px solid black;
    background-color: beige;
    color: #490404;
}
.h1{
    color: beige;
    background-color: #3e0505;
    text-align: center;
}
p{
    margin: 10px 200px;
    font-size: 20px;
}
.p1{
    color: #3e0505;
}
.d2{
    border: 5px solid rgb(74, 41, 5);    
    height: auto;
    width: 200px;  
    padding: 10px;
    margin: 5px 300px;
    font-size: 20px;
}
 p:nth-child(even){
    color: blue;
}
p:first-child{
    color: #3e0505;
}
p:last-child{
    color: crimson;
}